@media (min-width:320px) and (max-width:425px) {
    section {
        .catalogopadre {
            display: grid;
            justify-content: center;
            .catalogo {
                display: grid;
                margin-bottom: 115px;
                width: 200px;
                gap: 20px;
                img {
                    display: grid;
                    width: 100%;
                    border: solid;
                    height: 200px;
                }
            }
        }
    }
}

@media (min-width:768px) and (max-width:1024px) {
    section {
        .h2div {
            @include flex;
            justify-content: center;
            .h2 {
                margin-top: 80px;
            }
        }
        .talles {
            @include flex;
            img {
                width: 300px;
                &:hover {
                    margin-top: 20px;
                }
            }
        }
        .catalogopadre {
            display: grid;
            justify-content: center;
            .catalogo {
                grid-template-columns: repeat(3, 200px);
                margin-bottom: 115px;
                margin-right: 450px;
                gap: 20px;
                img {
                    margin-bottom: 40px;
                    transition: 500ms;
                    &:hover {
                        transform: scale(1.2);
                        filter: brightness(0.5);
                    }
                }
            }
        }
    }
}

@media (min-width:1024px) and (max-width:1200px) { 
    section {
        .catalogopadre {
            display: grid;
            justify-content: center;
            .catalogo {
                grid-template-columns: repeat(3, 200px);
                margin-bottom: 115px;
                margin-right: 450px;
                gap: 20px;
                img {
                    margin-bottom: 40px;
                    transition: 500ms;
                    &:hover {
                        transform: scale(1.2);
                        filter: brightness(0.5);
                    }
                }
            }
        }
    }
    


}
@media (min-width:1200px) {
    section {
        .allcontact {
            display: flex;
            justify-content: center;
        }
        .catalogopadre {
            display: grid;
            justify-content: center;
            .catalogo {
                grid-template-columns: repeat(3, 200px);
                margin-bottom: 115px;
                margin-right: 450px;
                gap: 20px;
                img {
                    margin-bottom: 40px;
                    transition: 500ms;
                    &:hover {
                        transform: scale(1.2);
                        filter: brightness(0.5);
                    }
                }
            }
        }
        .h2div {
            @include flex;
            justify-content: center;
            .h2 {
                margin-top: 51px;
            }
        }
        .talles {
            @include flex;
            img {
                width: 400px;
                &:hover {
                    margin-top: 20px;
                }
            }
        }
    header {
        .collapse {
            @include flex;
            justify-content: end;
                li {
                    font-size: 2.5vh;
                    margin-left: 30px;
                }
            }
        }
    }
}